.header {
    /* Deine bestehenden Styles */
    transition: background-color 0.3s ease;
}

.header.dark-mode {
    background-color: #333; /* Dunkler Hintergrund */
    color: #fff; /* Helle Schriftfarbe */
}

.header.dark-mode .header-nav a {
    color: #fff; /* Helle Schriftfarbe für Links */
}