.about {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
    margin-left: 40px;
}
.about-images {
    display: flex;
    gap: 5px;
}
.image-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.about-image {
    width: 200px;
    height: auto;
    align-self: center;
}
.about-text {
    font-size: 22px;
    font-weight: 300;
}
.about-text h2 {
    font-size: 64px;
    color: #bdbdbd;
    font-weight: 300;
    margin-bottom: 20px;
}
.about-image:first-child {
    margin-bottom: 20px;
}
.read-more {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
}

body.dark-mode .read-more {
    background-color: white; 
    color: black; 
    padding: 10px 15px; 
    border-radius: 5px; 
    font-family: 'Roboto';
}
body.dark-mode .about-text p {
    color: #bdbdbd;
}